body {
    background-color: #008080;
    margin:0;
    padding:0;
}

.header h1{
    margin:0;
background-color: #008B8B;

text-align: center;
font-family: 'Tangerine', cursive;
font-size: 80px;

}

.header img {
      
    float: left;
    position:relative;
    left: 400px;
    width: 15%;
    height: 15%;
}
.motto{
    text-align: center;
    background-color:#008B8B;
    font-family: 'Merienda', cursive;
    font-size:20px;
    
}
.nav ul {
    background-color: #008B8B;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav ul li {
    float:left;
}
.nav ul li a {
    display:block;
    color:#000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav ul li a:hover:not(.active) {
  background-color: #555;
}
.nav li a.active {
  background-color: #5F9EA0;
}

  .footer {
      font-size: 25px;
      background-color: #AFEEEE;
  }
 