body{
    font-family: Ubuntu, sans-serif;
    }
    table{
    border-collapse: collapse;
    border: 2px solid #cccccc;
    letter-spacing: 1px;
    font-size: 2rem;
    box-shadow: 8px 8px 5px #628ca6
    }
    th,td{
        border: 1px solid #cccccc;
        padding: 8px 15px;
    }
   
    }
    td{
        text-align: center;	
    }
    tbody tr:first-child {
        background-color: #628ca6;
        color: white;
    }
    tbody tr:nth-child(even) td {
      background-color: #90EE90;
    }
    tbody tr:nth-child(odd) td {
    background-color: rgb(245,245,245);
    }
    thead {
        background-color: #7fb9c2;
        color: black;
    }
    tfoot {
    background-color: #7fb9c2;
    font-size: 1.5rem;
    }
    caption {
      padding: 10px;
    }