* {
box-sizing: border-box;
}
body {
    margin:0;
    padding:0;
    height: 100%;
}
header {
    background-color: #2F4F4F;
    display: inline-flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
}
header img {
    height: 50px;
    width: 60px;
}
nav {
    background-color:#bbbbbb;
    font-family: Arial, Helvetica, sans-serif;
}
nav button {
    background-color: transparent;
    border: none;
    font-size: 1.9rem;
    color: #ffffff;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a {
    display: flex;
    flex-flow: row wrap;
    padding: .8rem 5%;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.3);
}
nav ul li a:hover { background-color: #E2D8C7; color: #000;}
nav ul li.active a { background-color: #D1ECFF; color: #000;}
nav ul.hide {display: none;}

nav ul li.active ul {
    position: relative;
    background: #D1ECFF;
     
}
nav ul li ul li {
    width: 100%;
}

.intro p {
    text-align: center;
    margin: 25px 9vw;
    color: #333849;
    line-height: 2rem;
}
.intro span {
    color: #2F4F4F;
    font-family: 'Playball', cursive;
    font-size: 25px;

}

nav ul li ul {
    
    display: none;
    
  

}

nav ul li:hover ul {
    display: block; 
    }
nav ul li:hover {
    display: block;

}
footer {
    background-color: #333849;
    font-size: 25px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0rem;
    padding-bottom: 0px;
    padding-top: 0px;
}
footer aside {
    background-color: #bbbbbb;
    border-top: 10px solid #2F4F4F ;
   padding: 20px 0;
    text-align: center;
   
}
#reference a {
text-decoration: none;
display: inline-block;
color: #000;
font-size: .8rem;
}
